.bullet-list {
  width: 100%;
  li {
    position: relative;
    padding: 0 0 0 20px;
    margin-top: 4px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 6px;
      width: 10px;
      height: 10px;
      background-color: var(--primary);
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
    }
  }
}
