.message-receive, .message-send {
  width: 60%;
  min-width: 400px;
}

.message-send {
  display: flex;

  & .message-content {
    background: var(--contrast-primary);
    --selection: var(--contrast-70);
    color: var(--dark);
    border-radius: 0 8px 8px 8px;
  }
}

.message-receive {
  align-self: flex-end;
  justify-content: end;

  & .message-content {
    background: var(--grey-400);
    border-radius: 8px 0 8px 8px;
    grid-row: 1;
  }
}
